html {
  font-size: 62.5%;
  box-sizing: border-box;
}
body {
  font-size: 1.6rem;
  font-family: "Ubuntu", sans-serif;
  height: 100vh;
  margin: 0;
}
button {
  font-size: 1.5rem;
}

.button.secondary {
  background-color: #2475b0;
}
.button.secondary:hover {
  color: #ffffff;
}
.text-center {
  text-align: center;
}
#root {
  height: 100%;
}
a {
  text-decoration: none;
  transition: color 0.5s;
}
a:hover {
  color: #25ccf7;
}

.grid-container {
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%;
}

/*header*/
.header {
  grid-area: header;
  background-color: #0a79df;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
.brand a {
  color: #fff;
  font-size: 2.5rem;
  font-weight: bold;
  text-decoration: none;
}
.header-links a {
  color: #fff;
  text-decoration: none;
  padding: 1rem;
}
.header-links a:hover {
  color: #25ccf7;
}

/*sidebar*/
.brand button,
.sidebar button {
  font-size: 3rem;
  padding: 0.5rem;
  background: none;
  border: none;
  color: #fff;
  outline: none;
  border: none;
}
.sidebar h3 {
  color: #fff;
}
.sidebar {
  position: fixed;
  transform: translateX(-30rem);
  width: 30rem;
  background-color: #2475b0;
  height: 100%;
  transition: transform 0.8s;
}
.sidebar.open {
  transform: translateX(0);
}

.sidebar li {
  list-style-type: none;
  padding: 1rem;
  color: white;
  margin: 1rem;
}

.sidebar-close {
  border: 0.1rem #2475b0 solid;
  width: 3rem;
  height: 3rem;
  padding: 0.5rem;
  font-size: 2rem;
  padding-top: 0;
  cursor: pointer;
  position: absolute;
  right: 0.5rem;
  top: 1.8rem;
}
/*main*/
.main {
  grid-area: main;
}

.products {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.product {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
}
.products li {
  list-style-type: none;
  padding: 0;
  flex: 0 1 34rem;
  margin: 1rem;
  height: 50rem;
  border-bottom: 0.1rem #192a56 solid;
}
.product-img {
  max-width: 35rem;
  max-height: 35rem;
}
.product-name {
  font-size: 2rem;
  font-weight: bold;
}
.product-brand {
  font-size: 1.2rem;
}
.product-price {
  font-size: 2rem;
  font-weight: bold;
}
.product-rating {
  margin-bottom: 1rem;
}
/*footer*/
.footer {
  grid-area: footer;
  background-color: #0a79df;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*product details*/
.details {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 1rem;
}
.details-image {
  flex: 2 1 60rem;
}
.details-image img {
  max-width: 60rem;
  padding: 1rem;
  margin: 1rem;
  widows: 100%;
}
.details-info {
  flex: 1 1 30rem;
}
.details-action {
  flex: 1 1 30rem;
  border: 0.1rem #192a56 solid;
  border-radius: 0.5rem;
  background-color: #f8f8f8;
  padding: 1rem;
}

.details-info ul,
.details-action ul {
  list-style-type: none;
  margin: 1rem;
  padding: 0;
}
.details-info li,
.details-action li {
  margin-bottom: 1rem;
}
.back-to-result {
  padding: 1rem;
}

.details-action ul li:last-child {
  display: flex;
  flex-direction: column;
}
.btn {
  padding: 1rem;
  border: 0.1rem #192a56 solid;
  border-radius: 0.5rem;
  background-color: #0a79df;
  color: white;
  cursor: pointer;
  transition: background-color 0.5s;
}
.btn:hover {
  background-color: #192a56;
  border: 0.1rem #25ccf7 solid;
}

/*Cart*/
.cart {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem;
  align-items: flex-start;
}
.cart-list {
  flex: 3 1 60rem;
}
.cart-action {
  flex: 1 1 20rem;
  background: lightskyblue;
  border: 0.1rem #25ccf7 solid;
  border-radius: 0.5rem;
  padding: 1rem;
}
.cart-list-container {
  list-style-type: none;
  padding: 1rem;
}

.cart-list-container li {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 0.1rem #808080 solid;
}

.cart-list-container li img {
  max-width: 10rem;
  max-height: 10rem;
}

.cart-list-container li:first-child {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.cart-image {
  flex: 1 1;
}
.cart-name {
  flex: 8 1;
}
.cart-price {
  flex: 1 1;
  font-size: 2.5rem;
  text-align: right;
}

/*forms*/
.form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.form-container {
  display: flex;
  flex-direction: column;
  width: 32rem;
  padding: 2rem;
  border: 0.1rem #2475b0 solid;
  border-radius: 0.5rem;
  list-style-type: none;
}
.form-container li {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
input {
  padding: 1rem;
  border: 0.1rem #192a56 solid;
  border-radius: 0.5rem;
}
/*Products*/
.product-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.content-margin {
  margin: 1rem;
}
.table {
  width: 100%;
}
th,
td {
  text-align: center;
}
tbody > tr:nth-child(odd) {
  background-color: #25ccf7;
}
